* {
    border-radius: 5px;
}

body {
    display: flex;            
    justify-content: center;   
    align-items: center;       
    height: 100vh;            
    margin: 0;                
}

.container {
    width: 300px;
    border: solid;
}

.display {
    border: solid;
    margin: 3%;
    text-align: right;
    padding: 4%;
    padding-right: 4%;
    height: 25px;

}

.topRow, .middleRowOne, .middleRowTwo, .bottomRow {
    display: flex;
    margin-left: 3%;
    margin-right: 3%;
}

.seven, .eight, .nine, .clear, .delete,
.four, .five, .six, .multiply, .divide,
.one, .two, .three, .plus, .subtract,
.zero, .point, .equal {
    text-align: center;
    border: solid;
    flex: 1;
    padding: 1%;
    margin: 1%;
    height: 30px;
}

.bottomRow {
    margin-bottom: 3%;
}
.equal {
    flex-grow: 1.4; 
}


