* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border-radius: 4px;
}

.container {
    display: flex;
    margin: 100px;
    border: solid;
    flex-direction: column;
}

.display {
    border: solid;
    margin: 3%;
    text-align: right;
    padding: 1%;

}

.topRow, .middleRowOne, .middleRowTwo, .bottomRow {
    display: flex;
    margin-left: 3%;
    margin-right: 3%;
}

.bottomRow {
    margin-bottom: 3%;
}

.seven, .eight, .nine, .clear, .delete,
.four, .five, .six, .multiply, .divide,
.one, .two, .three, .plus, .substract,
.zero, .period, .timesTen, .equal {
    border: solid;
    flex: 1;
    padding: 1%;
    margin: 1%
}